POSTGRES_USER=          # пользователь БД
POSTGRES_PASSWORD=      # пароль БД
POSTGRES_DB=            # имя БД
REDIS_PASSWORD=         # пароль Redis, оставить пустым если нет
AUTH_JWT_SECRET=        # обязательно, минимум 32 символа, например: openssl rand -hex 32